/*backgorund color base color for webpage*/
body{
    padding: 50px;
    background: #ffd19d
}
/*Name photo and few words grab attention*/
header{
    /*felt as though h1 font size didnt look as good as this size*/
  font-size: 32px;
  color: white;
  text-align: center;
    padding: 20px;
    background-image: url("images/IMG_5250.jpeg");
    background-repeat: no-repeat;
    background-size: 500px 175px;
    background-position: center;
    /*above 4 attributes are important for using a photo as a background messed around till the photo looked good ratio wise*/
    border: solid;
    /*online method allowing for outlining and changing the color of said outline*/
    -webkit-text-stroke: 1px black;
    }
nav{
  margin: auto;
  width: 400px;
    text-align: center;
    padding: 25px;
   
}
/*first colored box slightly darker than the background*/
main{
  border-radius: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    background: #b87d6671

}
/*darker than main but only slightly*/
section{
  border-radius: 50px;
    padding: 20px;
    background: #b87d6650;
    margin:15px;

}
div{
  border-radius: 15px;
    padding: 10px;
}
/*instead of h2*/
.sectionNames{
  color: white;
  
}
p{
  text-align: center;
  border-radius: 15px;
    color: white;
    padding: 20px;
    background: #b87d6665
}
/*keeping the max width low and height auto keeps the image's proportions slight border radius to kind of crop the image*/
img{
  max-width:15%;
  height: auto;
  opacity: 0.5;
  border-radius: 35%;
}
/*makes the numbers for the list white*/
ol{
    color: white;
}
/*make the buttons a color to match the theme and slightly transparent add room on the sides to make it look nice to the eyes. 
and space between the buttons*/
.button{
  font-size: 18px;
  background:rgba(245, 245, 245, 0.486);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  margin: 10px;
}
.internaldivs{
  color: white;
  background: #b87d6665;
  padding: 15px;
  margin-bottom: 10px;
}
/*4 below help give the links some life keeps the website from looking too dead*/
a:link {
  color: green;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: blueviolet;
  text-decoration: none;
}

a:active {
  color: greenyellow;
  text-decoration: none;
}
